Repository bddicken/languages, pull requests merged in 2025-01, with the labels that each got.

#344 python jit
  Brewfile
  compile.sh
  fibonacci/py-jit/code.py
  hello-world/py-jit/code.py
  levenshtein/py-jit/code.py
  loops/py-jit/code.py
  run.sh
Labels: levenshtein, loops, fibonacci

#375 Add in-process Fortran benchmark utility and implement all benchmarks
  .gitignore
  compile.sh
  fibonacci/fortran/run.f90
  hello-world/fortran/run.f90
  levenshtein/clojure/run.clj
  levenshtein/fortran/run.f90
  lib/fortran/benchmark.f90
  loops/fortran/run.f90
  run.sh
Labels: levenshtein, loops, fibonacci, hello-world, in-process-runner

#386 Zig: Add in-process benchmark utility
  .gitignore
  clean.sh
  compile.sh
  fibonacci/zig/build.zig
  fibonacci/zig/code.zig
  fibonacci/zig/fibonacci.zig
  fibonacci/zig/run.zig
  hello-world/zig/build.zig
  hello-world/zig/run.zig
  levenshtein/zig/build.zig
  levenshtein/zig/code.zig
  levenshtein/zig/levenshtein.zig
  levenshtein/zig/run.zig
  lib/zig/benchmark.zig
  loops/zig/build.zig
  loops/zig/code.zig
  loops/zig/loop.zig
  loops/zig/run.zig
  run.sh
Labels: levenshtein, zig, loops, fibonacci, hello-world, in-process-runner

#389 Status dots fix
  lib/c/benchmark.c
  lib/clojure/src/languages/benchmark.clj
  lib/fortran/benchmark.f90
  lib/java/languages/Benchmark.java
  lib/zig/benchmark.zig
Labels: in-process-runner
